---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import DatedEntry from '../components/DatedEntry.astro';	
---

<BaseLayout title="Experience | Fabio Dias" description="Employment history">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Experience"
				tagline="How I paid my bills"
			>
			</Hero>

			<section>
				<h2 class="section-title">Summary</h2>
				<div class="content">
					<p>I've been around.</p> 
					<p>After I finished my Ph.D, I worked in research for the next 7 years, mostly applying discrete mathematics for data analysis, focusing in Visual Analytics.</p>
					<p>In 2019 I leveraged my experience leading development teams and requirements engineering into a Lead Developer role for one of the platform engineering teams at State Street ("the oldest, largest bank most people never heard of"). The team we built focused on reliability and compliance.</p>
					<p>In 2024 I was promoted to the team responsible for Application and Cloud Security across the whole enterprise (50k+ developers).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Roles</h2>
				<div class="content">
					<DatedEntry
						title="Senior DevSecOps Engineer - Application Security Lead"
						date="05/2024 - Present"
					>
					    <p>Lead engineer for Application Security tooling. I own the engineering and maintenance of the security-oriented SDLC tollgates systems supporting the 10+ IT environments (OnPrem, Azure, AWS, OCI) across the enterprise. I lead the container and IaC aspects of our tooling convergence of all departments globally, and occasionally assist in cloud security.</p>
						<p><a href="https://www.statestreet.com/" target="_blank">State Street</a>, Toronto, Canada.</p>
					</DatedEntry>

					<DatedEntry
						title="Lead Cloud Developer - Platform Lead"
						date="09/2019 - 04/2024"
					>
					    <p>I interviewed, hired, trained, and managed a team of ~10 people that owned the automated common tools for a landing zone in AWS. Including service enablement, templates, permission scoping, billing, logging, monitoring, backup, compliance, and audit tooling.</p>
						<p>The environment supported mission critical services across 13 regions.</p>
						<p><a href="https://www.statestreet.com/" target="_blank">State Street</a>, Toronto, Canada.</p>
					</DatedEntry>

					<DatedEntry
						title="Research Scientist - Urban Data Analytics"
						date="09/2017 - 08/2019"
					>
						<p><a href="https://academic.daniels.utoronto.ca/urbangenome/" target="_blank">Urban Genome Project</a> - <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>, Toronto, Canada</p>
						<p>An UofT - Connaught Global Challenge project, with researchers from several areas, aiming to improve the understanding of the urban environment in its many facets. My role was to develop new visual analytics methods for urban data, to professionals and the general public.</p>
					</DatedEntry>

					<DatedEntry
						title="Research Scientist - Urban Data Analytics"
						date="07/2016 - 06/2017"
					>
						<p><a href="https://engineering.nyu.edu/research-innovation/centers/visualization-imaging-and-data-analysis-center-vida" target="_blank">NYU Tandon School of Engineering</a> / <a href="https://cds.nyu.edu/" target="_blank">Center for Data Science</a>, NY, USA</p>
						<p>Development of visual analytics systems for urban data and creation of new data clustering methods.</p>
					</DatedEntry>

					<DatedEntry
						title="Research Scientist - Data Analtytics"
						date="01/2015 - 06/2016"
					>
						<p><a href="https://vicg.icmc.usp.br/vicg" target="_blank">University of Sao Paulo</a>, Sao Carlos, Brazil</p>
						<p>Visual analytics for network data, including project management, team coordination, and mentoring.</p>
					</DatedEntry>

					<DatedEntry
						title="Software Developer - Web-based geographical systems"
						date="08/2014 - 12/2014"
					>
						<p><a href="https://www.funcate.org.br/en/" target="_blank">Foundation for Space Science, Applications and Technology</a>, Brazil</p>
						<p>Development of a WebGIS / visual analytics system for the <a href="https://www.terraclass.gov.br/webgis/" target="_blank">TerraClass</a> project, enabling the dissemination of knowledge about land use and deforestation in the Amazon Forest.</p>
					</DatedEntry>


					<DatedEntry
						title="Research Scientist - Sports motion capture"
						date="04/2013 - 05/2014"
					>
						<p><a href="https://fef.unicamp.br/" target="_blank">Unicamp</a></p>
						<p>Human motion analysis for underwater sports, camera calibration methods for underwater capture, new methods for asynchronous marker reconstruction, methods for markerless tridimensional pose recovery.</p>
					</DatedEntry>

				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
